/*헤더 초기화 상태만들기 */
body{
    margin:0;
    padding:0;  
}
/*초기화했는데 꽉차있는걸 볼 수 있다. 
  CSS의 width(100%)와 height(0)html에 
  넣은높이만큼 자동으로 늘어나기 때문
  auto이름으로 위에서 말한 기본 값이 지정되어 있다. 
*/
.header {
    background-color: white;
    border-bottom: 1px solid lightgray;
}
.container {
    width:980px;
    margin: auto;
    
    /* margin은 요소의 바깥쪽 여백 
    980px만큼의 좌우 여백에서 
    왼쪽 오토 오른쪽 오토의 
    바깥쪽 여백을 가짐으로 인해서
    600px의 영역이 화면의 중앙으로 
    헤더영역 안에서 중앙으로 모여지게되는 효과를 가져옴
    */
    margin:auto;
}
.container-left {
    /* header와 container 에 넣어도 화면에 노출 되는데 패딩 결과는 같고 상관은 없지만
    최적화를 위해서는 header나 container 에 넣기보다 넣었을때 효과를 볼수 있는 가장 
    가까운 요소에 넣는게 좋음*/
    padding:20px 0;
}
.logo {
    float: left;
    margin-right: 5px;
    
}
.logo img{
    display: block;
}
.menu {
    float: left;
}
.menu-item{
    /* float이라는 속성을 사용함으로 인해서 
    수평으로된 레이아웃을 잡을 수가 있다.
    자세한 건 나중에 */
    float: left;
    /* margin-right: 10px; */
    padding: 8px 10px;
}
/*가상요소 선택자
 float을 해제하는 기능을 만드는 것 정도로만 알고있고 
 자세한 건 나중에 알려준다고 함 
*/ 
.clearfix::after{   
    content:"";
    display:block;
    clear: both;
}